a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .bg-light-nav {
      background-color: #FDFDFE;
  }
  .box-shadow {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .text-darkk {
      color:#454548;
      font-weight:500;
      font-size:0.85rem;
  }
  
  
  
  
  .nav-bar-items, .user, .icons, .logo {
      display: flex;
      
  }
      .icons{
          align-items:center;
      }
      .lnr-menu {
          float: right;
          margin-left: 50px;
          margin-top: 15px;
          cursor: pointer;
      }
  
  
  
  .navbaritems {
      padding: 5px 5px;
      margin-top: 5px;
  }
  
  .right1 {
      margin-left: auto;
      margin-top: 10px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  
  
  .nav-bar {
      background-color: white;
      width: 100%;
      height: 60px;
      display: flex;
     
     
  }
  
  
  
  .nav-link {
      cursor: pointer;
  }
  
  .a-span:hover {
      color: #14A0FD;
      font-size:0.87rem;
  }
  .a-span{
      transition:0.4s;
  }
   
  .nav-bar-items {
      padding: 5px 15px;
  }
  
  
  .nav-bar-items li {
      list-style: none;
  }
  
  #icons2 {
      margin-left: 10px;
  }
  
  
  .navbar {
      /*  
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px; */
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .inout{
      
      justify-content:center;
  }
  /* .dropdown-item{
      
  } */
  .dropdown-menu {
      width: 160px;
      left: 50%;
      margin-left: -66px;
      box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
      #sidebar1, .sidebarcontent2, .menu-title, .lnr-chevron-down {
          width: 0px;
      }
      /* .sidebarcontent1,.menu-title,.lnr-chevron-down,  .lnr-menu{
          display: none;
      }   */
      .opne-toggle {
          display: block;
      }
  
      .toggletosmall {
          display: none;
      }
  }
  
  .main-nav-bar {
      color: #B680DC;
  }