

.material-sidebar-height {
    position: absolute;
    top: 60px;
    width: 219px !important;
    bottom: 0px;
    box-shadow: 1px 2px 5px -2px #888;
    overflow: hidden;
    z-index: 45;
}

.material-sidebar-heightt {
    overflow: hidden;
    box-shadow: 1px 2px 5px -2px #888
}
/*********z***** old *************/
.drop-icon-subtab {
    font-size: 14px;
    font-weight: 800 !important;
    float: right;
    margin-right: 20px;
    line-height: 30px !important;
}

.font-11 {
    font-size: 11px !important;
}


a {
    color: inherit !important;
}

.activeModuleColor {
    color: #1dc4e9 !important;
    background-color: #1b1b28 !important;
}

.active-subModule {
    color: #1dc4e9 !important;
    background-color: #1b1b28 !important;
}

.disp_hiden {
    display: none !important;
}

.disp_block {
    display: block !important;
}

.gradient {
    color: #030852 !important;
}

li {
    list-style-type: none !important;
}

.x {
    font-weight: 600 !important;
}
/*---------------  New updated  -----------------------*/
html {
    font-size: 16px !important;
}

.sidebar-link {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    text-decoration: none;
    padding: .9rem .9rem !important;
}

.sidebar-link-icon {
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    flex: 0 0 1.9rem;
}

.sidebar-link-text {
    flex-grow: 1;
    font-weight: 400 !important;
    font-size: .85rem !important;
    text-transform: initial !important;
}
.ulStyle a:hover{
    text-decoration:none;
}
.sidebar-link-arrow {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    font-size: .6rem !important;
    font-weight: 600 !important;
}

.sidebar-link-arrow-active {
    transform: rotateZ(90deg);
}

.link:hover {
    text-decoration: none !important;
    /*color: #1dc4e9!important;*/
    /*color: #ffffff !important;*/
}

.mm-sidebar li:hover {
    background-color: #F9FAFB;
    color: inherit !important;
}
.mm-sidebar a:hover {
    text-decoration:none;
}
.sidebar-Sub-link {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding: .3rem .5rem !important;
    min-height: 2rem;
    padding-left: 2.5rem !important;
}

.sidebar-sub-link-icon {
    flex: 0 0 1rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0;
}

    .sidebar-sub-link-icon > span {
        width: .32rem;
        height: .07rem;
    }

.sidebar-sub-link-text {
    flex-grow: 1;
    font-weight: 400 !important;
    font-size: .75rem !important;
    text-transform: initial !important;
}

.sidebar-sublink-line {
    border-bottom: 1px solid #a9b7d0;
}

.sidebar-sublink-line-active {
    border-bottom: 1px solid #1dc4e9;
}

.col-2 {
    max-width: 16% !important;
    min-width: 16% !important;
}

.cursorPointer {
    cursor: pointer !important;
}

.sidebar-content {
    min-height: 74vh !important;
    max-height: 74vh !important;
}

    .sidebar-content > ul {
        min-height: 75vh !important;
        max-height: 80vh !important;
        overflow-y: auto;
    }

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh !important;
}

.sidebar-headere {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh !important;
}

.sidebar-footer {
    display: flex;
    height: 9vh !important;
    justify-content: space-around;
    align-items: center !important;
}

.gateflux-logo {
    width: 8vw;
}
/****************  Shrinked  ****************/

.sidebar-shrinked-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh !important;
}

.sidebar-shrinked-content {
    height: 87%;
    overflow-x: hidden;
}

.sidebar-shrinked-link {
    display: flex;
    flex-direction: column;
    padding: .7rem 0rem !important;
}

    .sidebar-shrinked-link:hover {
        /*background-color: #1b1b28 !important;
    color: #ffffff !important;*/
        cursor: pointer;
    }

.sidebar-shrinked-link-box {
    display: flex;
    justify-content: center !important;
}

.sidebar-shrinked-link-text {
    font-weight: 400 !important;
    font-size: .7rem !important;
    cursor: pointer;
}

.col-1 {
    max-width: 7% !important;
    min-width: 7% !important;
}

/********************  Scroll bar notification panel **********************/
.notification-panel-content::-webkit-scrollbar {
    width: .4rem;
}

.notification-panel-content::-webkit-scrollbar-track {
    border: none;
    width: 1vw !important;
}

.notification-panel-content::-webkit-scrollbar-thumb {
    background: #a9b7d0 !important;
    border-radius: 10px;
}

    .notification-panel-content::-webkit-scrollbar-thumb:hover {
        background: #91a3c2 !important;
        opacity: 0.2 !important;
    }


.active-page {
    color: red !important
}

.Overlay {
    transition: all .24s ease-in-out;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
    height:100%;
    overflow: hidden;
    position: absolute;
    background: white;
    z-index: 99;
    width: 220px;
    overflow: auto;
}

.slide {
    margin-left: 120px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 20px 25px;
    border-color: transparent transparent #030852 transparent;
}
